<section class="container-tb-admin">
    <h1>administrador</h1>
<table class="tb-admin">
    <thead>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>telefono</th>
        <th>email</th>
        <th>pais</th>
        <th>Pregunta 1</th>
        <th>Pregunta 2</th>
        <th>Pregunta 3</th>
        <th>Pregunta 4</th>
        <th>Contraseña</th>
        <th>Foto</th>
        <th>Acciones</th>
    </thead>
    <tbody *ngFor="let user of usersArray">
        <td>{{user.nombre}}</td>
        <td>{{user.apellido}}</td>
        <td>{{user.telefono}}</td>
        <td>{{user.email}}</td>
        <td>s{{user.pais}}</td>
        <td>s{{user.pregunta1}}</td>
        <td>s{{user.pregunta2}}</td>
        <td>s{{user.pregunta3}}</td>
        <td>s{{user.pregunta4}}</td>

    </tbody>
</table>
</section>
