<div style="display: flex; flex-direction:row; height: 100%;">

<section class="sec-img">
    <img src="./assets/img-login.PNG" alt="" srcset="">
</section>

<section class="sec-form">
    <div class="title-login"><h1 class="">Registrate a   </h1> <tr></tr><h1 style="color: purple;"> Weplot</h1>   </div>
    <div class="sec-btn">
        <button class="btn-ggl"><img src="./assets/google.png" alt=""> Registrate con Goolgle</button>
        <button class="btn-fb"><img src="./assets/facebook.png" alt=""> Registrate con Facebook</button>
    </div>
    <p class="line">O digilencia el formulario</p>
    <form class="form">

        <div class="form-col1">
            <div class="form-col1-pt1">
                <label for="">Nombre</label>
                <input type="text" name="" id="">
                <label for="">Email</label>
                <input type="text" name="" id="">
                <label for="">Pais</label>
                <input type="text" name="" id="">
            </div>
            <div class="form-col1-pt1">
                <label for="form-part2">Comida favorita</label>
                <input type="text" name="" id="">
                <label for="">Lugar favorito</label>
                <input type="text" name="" id="">
                <label for="">Contraseña</label>
                <input type="text" name="" id="">
            </div>

        </div>

        <div class="form-col2">
            <div class="form-col2-pt1"> <label for="">Apellido</label>
                <input type="text" name="" id="">
                <label for="">Telefono</label>
                <input type="text" name="" id="">
                
            </div>
            <div class="form-col2-pt2">
                <label for="">Artista favorito</label>
                <input type="text" name="" id="">
                <label for="">Color favorito</label>
                <input type="text" name="" id="">
                <label for="">Repetir contraseña</label>
                <input type="text" name="" id="">
            </div>
        </div>
     
    </form>
    <div class="container-btn-env-lg">
        <button class="btn-env-lg">Unirme a Weplot</button>
    </div>    

</section>
</div>