.tb-admin{
    border: solid 1px black;
}

.tb-admin td{
    padding: 10px;
}

.tb-admin th{
    padding: 10px;
}

.container-tb-admin{
    padding: 40px;
    background-color: white;
}

body#tren{
    background: rgb(2,0,36)!important ;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,29,1) 35%, rgba(0,212,255,1) 100% )!important;
}

